<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen">

  <div class="bg-zinc-900 w-full flex-grow bg-[url('https://64.media.tumblr.com/90745e74ce8cd00b89f7d03370c67f40/9e262ae8cfde02ea-c0/s500x750/e7afbc1acce301cc47f85ebe5a8dc84ed6d9d633.gif')] bg-cover bg-no-repeat bg-center p-10 text-white space-x-4">
    <div>
      <h1>Congratulations! You have already registered yourself!!</h1>
      <div class="w-full flex mt-4 space-x-4">
        <a class="bg-red-500 rounded-md px-3 py-2 text-sm text-center inline-block mb-5" href="/logout">Logout</a>
        <a class="bg-red-500 rounded-md px-3 py-2 text-sm text-center inline-block mb-5" href="/login">Login</a>
      </div>
    </div>
  </div>

  <footer class="bg-gray-900 text-white py-4 text-center">
    <p class="text-sm">&copy; 2025 Made by <strong>The TMK Show</strong>. All rights reserved.</p>
  </footer>

</body>

</html>
