<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen">

  <!-- Main Section -->
  <div class="bg-zinc-900 w-full flex-grow bg-[url('https://i.gifer.com/embedded/download/VQcm.gif')] bg-no-repeat bg-cover bg-center p-10 text-white space-x-4">
    <h1>Congratulations You have Successfully Registered Yourself!!</h1>
    <div class="w-full flex mt-4 space-x-4">
      <div>
        <a class="bg-red-500 rounded-md px-3 p-2 text-sm py-2 inline-block mb-5 text-center" href="/logout">Logout</a>
      </div>
      <div>
        <a class="bg-red-500 rounded-md px-3 p-2 text-sm py-2 inline-block mb-5 text-center" href="/login">Login</a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg-gray-900 text-white py-4 text-center">
    <p class="text-sm">&copy; 2025 Made by <strong>The TMK Show</strong>. All rights reserved.</p>
  </footer>

</body>

</html>
